.reviewForm {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin: 10px;
    /* background-size: 400% 400%; */
    transition-duration: .8s;
    font-family: Helvetica, sans-serif;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius:5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width:400px;

}


.reviewForm:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.formDiv {
    padding: 4px;
    margin: 4px;
}

.inputBox {
    border-radius: 3px 3px;
    transition-duration: 1s;
    padding: 10px;
}

.inputBox:hover {

    box-shadow: 3px 3px rgb(0, 0, 0, .3);
}

.businessForm:hover {
    box-shadow: 2px 2px 2px rgba(187, 28, 28, 0.4);
}

.submitButton {
    padding: 10px 40px;
    background-color: rgb(216, 29, 29);
    margin: 20px;
    transition-duration: 1s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.submitButton:hover {
    box-shadow: -2px -2px 4px rgb(216, 29, 29, .3);
}


.ReviewDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.deleteReviewButton{
    background-color: rgb(216, 29, 29);
    font-family: Helvetica, sans-serif;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    margin-bottom: 5px;
    transition-duration: 1.3s;
}
.editReviewButton{
    background-color: rgb(216, 29, 29);
    font-family: Helvetica, sans-serif;
    padding: 5px 15px;
    font-size: 14px;
    display: flex;
    transition-duration: 1.3s;
    margin-bottom: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.editReviewButton,.deleteReviewButton:hover {
   cursor: pointer;
}

.review-picture{
    width: 300px
}


.no-review-div{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.review-profilepicture{

    width: 100px;
    background-size: cover;
    background-position: 50% 25%;
    border-radius: 50%;


}

.review-profilepicture::after {
    display: block;
    padding-top: 100%;
    content: ''
}

.review-username-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-username-image-container:hover{
cursor: pointer;
}

.each-review-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.review-rating-answer-picture-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}
.edit-delete-button-container{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    margin-bottom: 10px;

}
.review-username-p-tag{
font-weight: bold;
font-family: Helvetica, sans-serif;
}