li {
    color: black;
}


.divbusinessCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border: 1px rgb(0, 0, 0, .2) solid;
    border-radius: 5px 5px solid rgb(102, 102, 102, .5);
    box-shadow: 0px 0px 15px rgb(0, 0, 0, .3);

    transition-duration: 1s;
    width: 770px;
    border-radius: 5px;


}

.fillPhoto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.divbusinessCard:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .6);
    cursor: pointer;
}
.entireDiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.contentDiv {
    display: flex;
    justify-content: center;
    max-width: 100ch;

}

.businessLink{
    color: blue;
}

.editDiv{
    max-width: fit-content;
    display: flex;
}
.deleteDiv{
    max-width: fit-content;

}

.imageDivPicture{
    width: 200px;
    background-size: cover;
    background-position: 50% 25%;
    border-radius: 5px;

}
.imageDivPicture::after{
    display: block;
    padding-top: 100%;
    content: ''
}
.ownerButton {
    margin: 10px;
    padding: 10px 20px;
    transition-duration: 1s;
    border: 0px solid black;
}

.ownerButton:hover {
    cursor: pointer;

}

.imageDiv {
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    border-radius: 25px;
    padding: 10px;
}



.businessTitle {
    margin: 10px 10px;
    font-weight: 50px solid black;
    border-bottom: solid 2px black;
    /* padding-top: 10px; */
    margin-top: 40px;
}

.businessName {
    display: inline-block;

}


.informationDiv {
    border-left: solid rgb(92, 91, 91, .4) 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(#FFF2F2, #FAD4D4, #F47C7C, #EF9F9F); */
    transition-duration: 1.2s;
    width: auto;
}
.informationDiv:hover {
    border-left: solid rgb(92, 91, 91, .4) 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 10px 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address {
    margin: 10px 10px;
    font-size: 20px;
}

.allBusinessDiv {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.addressBusiness{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
