.contentDiv{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.edit-Delete-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

}

.starRating-container{
    margin-left: 10px;
    margin-top: 5px;
}
