li {
    color: black;
}


.divbusinessCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-left: 2px rgb(0, 0, 0, .2) solid;
    border-right: 2px rgb(0, 0, 0, .2) solid;
    border-radius: 10px 10px solid rgb(102, 102, 102, .5);
    background-color: rgb(128, 128, 128, .2);
    transition-duration: 1s;
    max-width: fit-content;

}

.entireDiv{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.contentDiv {
    display: flex;
    justify-content: center;
    max-width: 100ch;

}

.businessLink{
    color: blue;
}

.editDiv{
    max-width: fit-content;
    display: flex;
}
.deleteDiv{
    max-width: fit-content;

}

.divbusinessCard:hover {
    border: 1px solid rgb(0, 0, 0, .5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

.ownerButton {
    margin: 10px;
    padding: 10px 20px;
    transition-duration: 1s;
    border: 0px solid black;
}

.ownerButton:hover {
    border: solid 2px rgb(0, 0, 0, .3);
    padding: 10px 25px;
}

.imageDiv {
    max-width: 500px;
    max-height: 400px;
    min-height: 300px;
    min-width: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    border-radius: 25px;
}

.imageDiv:hover {
    box-shadow: 3px 3px rgb(0, 0, 0, .3);
}

.businessTitle {
    margin: 10px 10px;
    font-weight: 50px solid black;
    border-bottom: solid 2px black;
    /* padding-top: 10px; */
    margin-top: 40px;
}

.businessName {
    display: inline-block;

}


.informationDiv {
    border-left: solid rgb(92, 91, 91, .4) 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(#FFF2F2, #FAD4D4, #F47C7C, #EF9F9F); */
    transition-duration: 1.2s;
}
.informationDiv:hover {
    border-left: solid rgb(92, 91, 91, .4) 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    margin: 10px 10px;
    font-size: 20px;
}

.address {
    margin: 10px 10px;
    font-size: 20px;
}

.allBusinessDiv {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.addressBusiness{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
