.editFormDiv {
    /* margin-top: 200px; */
    display: flex;
    align-self: center;
    justify-content: center;
}

.editForm {
    /* background-color: white; */
    color: black;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid black 2px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    transition-duration: 1s;
}

.inputValueReviews {

    border-radius: 5px 5px;
    padding: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1.3s;
    margin-left: 10px;
    margin-right: 10px;

}

.inputValueReviews:hover {
    padding: 12px;
}

.reviewSubmitEditButton {
    background-color: rgb(216, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    transition-duration: 1.3s;
    margin-bottom: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.reviewSubmitEditButton:hover {
    background-color: red;
    color: white;
    padding: 8px 12px;
}
