.editFormDiv {
    /* margin-top: 200px; */
    display: flex;
    align-self: center;
    justify-content: center;
}

.editForm {
    /* background-color: white; */
    color: black;
    margin: 0 20px;
    border: solid black 1px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
    transition-duration: 1s;
}

.inputValueReviews {

    border-radius: 5px 5px;
    padding: 8px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1.3s;
    margin-left: 10px;
    margin-right: 10px;

}

.inputValueReviews:hover {
cursor: pointer;
}

.reviewSubmitEditButton {
    font-family: Helvetica, sans-serif;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    transition-duration: 1.3s;
    margin-bottom: 5px;
    text-decoration: none;
    margin-top: 10px;
    background-color: rgba(224, 32, 32, 0.753);
}

.reviewSubmitEditButton:hover {
    cursor: pointer;
    background-color: rgb(226, 19, 19);

}


.custom-fieldEditReview{
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;

}
.custom-fieldEditReview input {
    border:#ddd 1px solid;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border-radius: 3px;
    padding: 12px;
    width:250px;
    outline: none;
    font-size: 14px;
    transition: border-color .3s ease;
    font-family: Helvetica, sans-serif;

}

.custom-fieldEditReview .placeholder{
    position: absolute;
    left:12px;
    top: 65%;
    transform: translateY(-50%);
    color:#aaa;
    transition:
    top 0.3s ease,
    top 0.3s ease,
    top 0.3s ease;
    font-family: Helvetica, sans-serif;
}

.custom-fieldEditReview input + .placeholder{
    padding: 0 5px;
    left: 15px;
}
.custom-fieldEditReview input:valid + .placeholder,
.custom-fieldEditReview input:focus + .placeholder{
    top:25px;
    font-size: 10px;
    color: #222;
    background: #fff;
}

.custom-fieldEditReview input:valid,
.custom-fieldEditReview input:focus{
    border-color: #222;
    transition-delay: .1s;
}
