.footerDiv{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    /* background-color: rgb(216, 29, 29); */
    background-color: rgba(83, 81, 81, 0.377);

    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    justify-content: space-around;

    font-size: 10px;
}


.footerLink{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    transition-duration: 1s;
    font-size: 15px;
    color: rgba(83, 81, 81);

}
