.title{
    margin-top: 100px;
}

.fullDiv{
    background-image: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    display:flex;
}

.welcome{
    color: white;
    text-shadow: 1px 1px 2px black;;
}
