.splashCard {
    margin-top: 10px;
    max-width: 80ch;

}

.fullDiv {
    background-image: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    min-height: 650px;
    max-height: 650px;
    min-width: auto;
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.welcome {
    color: white;
    padding-top: 10px;
    font-size: 50px;
    transition-duration: 1.3s;
    text-shadow: 1px 1px 1.5px hsl(0, 0%, 0%);
}

.welcome:hover {

    text-shadow: 2px 2px 3px hsl(0, 0%, 0%);

}

.splashPageParagraph {
    /* background-color: rgb(0, 0, 0, .5); */
    color: white;
    border-radius: 5px 5px;
    background: linear-gradient(rgb(0, 0, 0, .4), rgb(0, 0, 0, .8));
    padding: 35px;
    box-shadow: 2px 2px rgb(0, 0, 0, .4);
    transition-duration: 1.3s;
    font-size: 18px;
}

.splashPageParagraph:hover {
    background-color: rgb(0, 0, 0, .5);

    box-shadow: 2px 2px rgb(0, 0, 0, .4);
}

.demoButtonSplashPage {
    background-color: rgb(216, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    transition-duration: 1.3s;

}

.demoButtonSplashPage:hover {
    background-color: red;
    color: white;
    cursor: pointer;

}


.profileSplashPicture {
    /* max-width: 400px; */
    max-height: 400px;
    padding: 20px;
    border-radius: 50%;
}
