.outerBusiness-container {
    margin-top: 100px;
}

.Business-title-div {

    margin-top: 100px;
}

.Business-title {
    font-family: Helvetica, sans-serif;
    color: white;
    background-color: #36353561;
    padding: 10px;
    border-radius: 5px;
}

.image-background {
    position: relative;
    z-index: -10;

}

.ShareButton {
    margin: 10px;
    padding: 10px 20px;
    transition-duration: .8s;
    background-color: transparent;
    border: 1px solid rgba(45, 46, 47, 1);
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShareButton:hover {
    cursor: pointer;
    background-color: rgba(134, 135, 136, 0.264);
}


.reviews-tag {
    color: white;
    font-family: Helvetica, sans-serif;
    background-color: #36353561;
    padding: 10px;
    border-radius: 5px;
}

.title-and-reviews-container {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.address-line {
    margin: 10px 10px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: rgba(110, 112, 114, 1);
}


.phone-address-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    /* position: sticky; */

}

.phone-number-line {
    margin: 10px 10px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    color: black;
}

.About-the-business-Container {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.h2-tag-AboutBusiness {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.aboutBusiness {
    font-family: Helvetica, sans-serif;
    color: #363535;
}

.photos-profile-page {
    width: 50em;
    position: absolute;
    background-size: cover;
    background-position: 100% 100%;
    z-index: -1;
}

.photos-profile-page::after {
    display: block;
    padding-top: 100%;
    content: ''
}

.review-share-container {
    display: flex;
    align-items: flex-start;
}

.camera-img {
    width: 25px;
    margin: 5px;
}

.Add-Photo-Button{
    margin: 10px;
    /* padding: 10px 20px; */
    transition-duration: .8s;
    background-color: transparent;
    border: 1px solid rgba(45, 46, 47, 1);
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0px;
    padding-right: 5px;
}

.Add-Photo-Button:hover{
    cursor: pointer;
    background-color: rgba(134, 135, 136, 0.264);
    text-decoration: none;


}
