.pageDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.signUpFormDiv {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.withinFormDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSignUpDiv{
    margin-top: 200px;
}

.demoButtonSignupPage {
    margin-top: 40px;
    background-color: rgb(216, 29, 29);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    transition-duration: 1.3s;
}

.demoButtonSignupPage:hover {
    background-color: red;
    color: white;
    cursor: pointer;

}


.submitSignUpButton {
    padding: 15px 113px;
    background-color: rgb(216, 29, 29);
    margin: 20px;
    transition-duration: 1s;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.submitSignUpButton:hover {
    background-color: red;
    cursor: pointer;

}

.centerpageDivSignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleforSignUpPage{
    position: fixed;
    top:110px;
    color: rgb(216, 29, 29);
}

.titleDescriptionSignUpPage{
    position: fixed;
    top:140px;
    color: black
}

.custom-field{
    position: absolute;
    font-size: 14px;
    padding-top: 20px;
    margin-bottom: 5px;

}
.custom-field input {
    border:#ddd 1px solid;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border-radius: 3px;
    padding: 12px;
    width:250px;
    outline: none;
    font-size: 14px;
    transition: border-color .3s ease;
    font-family: Helvetica, sans-serif;

}

.custom-field .placeholderSignUp{
    position: absolute;
    left:12px;
    top: 65%;
    transform: translateY(-50%);
    color:#aaa;
    transition:
    top 0.3s ease,
    top 0.3s ease,
    top 0.3s ease;
    font-family: Helvetica, sans-serif;
}

.custom-field input + .placeholderSignUp{
    padding: 0 5px;
    left: 8px;
}
.custom-field input:valid + .placeholderSignUp,
.custom-field input:focus + .placeholderSignUp {
    top:20px;
    font-size: 10px;
    color: #222;
    background: #fff;
}

.custom-field input:valid,
.custom-field input:focus{
    border-color: #222;
    transition-delay: .1s;
}
