a{
    color: white;
    transition-duration: 1.3s;
}

a:hover{
    font-size: 20px;
}

.navbarDiv{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(216, 29, 29);
    padding: 10px 20px;


    /* margin: 100px; */
 }

 .navBarIcon{
     max-width: 30px;
 }
 .squealsLink{
     text-decoration: none;
     font-size: 30px;
     display: flex;
 }
 .squealsLink:hover{
     font-size: 31px;
 }
.homeLink{
    background-color: rgb(216, 29, 29);
}

.demoButton{
    margin-top: 20px;
}

.LogInButton{
    border:white solid 2px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

.LogInButton:hover{
    background-color: rgb(255, 255, 255, .4);
    /* border: rgba(68, 68, 68, 0.212) solid 2px; */
    /* box-shadow: 2px 2px rgba(0, 0, 0, 0.342); */
}

.SignUpButton{
    border:white solid 2px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

.SignUpButton:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
