a{
    color: white;
    transition-duration: 1.3s;
}

a:hover{
    font-size: 20px;
}

.navbarDiv{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(216, 29, 29);
    padding: 10px 40px;


    /* margin: 100px; */
 }

.homeLink{
    background-color: rgb(216, 29, 29);
}

.demoButton{
    margin-top: 20px;
}
