a{
    color: white;
    transition-duration: 1.3s;
}

.navbarDiv{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(216, 29, 29);
    padding: 10px 20px;
    z-index: 10;


    /* margin: 100px; */
 }


 .nav-bar-button{
    margin-right: 10px;
    font-family: Helvetica, sans-serif;
 }
 /* .nav-bar-button:hover{
    background-color: grey;
 } */
 .navBarIcon{
     max-height: 45px;
 }

 .squealsLink{
     text-decoration: none;
     font-size: 30px;
     display: flex;
 }
 .squealsLink:hover{
     font-size: 31px;
 }
.homeLink{
    background-color: rgb(216, 29, 29);
}

.demoButton{
    margin-top: 20px;
}

.LogInButton{
    border:white solid 1px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    /* background-color: rgb(219, 52, 52); */
}

.LogInButton:hover{
    background-color: rgba(86, 86, 86, 0.373);
}

.SignUpButton{
    border:white solid 1px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;

}

.SignUpButton:hover{
    background-color: rgba(86, 86, 86, 0.373);


}

.profileButton{
    background-color: rgb(216, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    transition-duration: 1.3s;
}

.profileButton:hover {
    background-color: red;
    color: white;
    padding: 14px 24px;
}

.userName{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logOutButton{
    /* background-color: rgb(216, 29, 29); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    transition-duration: 1.3s;
    border: 1px solid white;
    background-color: transparent;
}

.logOutButton:hover{
    background-color: rgba(68, 67, 67, 0.458);
    cursor: pointer;
}
.createYourBusinessButton{

    background-color: rgb(216, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
}

.createYourBusinessButton:hover {
    cursor: pointer;
}


.icon-image{
    width: 30px;
    margin: 5px;
}

.right-side-Nav-Bar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 40px;

}


.LogInButton, .SignUpButton {
    padding: 10px 20px;
}
